
@{
    ViewBag.Title = "Estados";
    if (Session["IdUsuario"] == null )
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{

    @Html.Action("GridViewPartial_estado", new { IdEstadoTipo = ViewBag.IdEstadoTipo })


    <div class="box-footer">
        <a class="btn btn-default" href="@Url.Action("Index","EstadoTipo",new { IdEstadoTipo = ViewBag.IdEstadoTipo, Area = "General" },null)">Volver</a>
    </div>



}
