@using System.Web.UI.WebControls;
@model Info.Tarea_Info

@{

    ViewBag.Title = "Eliminar tarea";
    if (Session["IdUsuario"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/ValidacionBotonSubmit.js"></script>

@using (Html.BeginForm("Index", "EliminarTarea", FormMethod.Post, new { @id = "form", @role = "form" }))
{
    if (ViewBag.mensaje != null)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="alert alert-warning alert-dismissible">
                        <h4>
                            <i class="icon fa fa-warning"></i> @ViewBag.mensaje
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="IdTarea"># Tarea*</label>
                    @Html.TextBoxFor(q => q.IdTarea, new { @id = "IdTarea", @class = "form-control" })
                    @Html.ValidationMessageFor(q => q.IdTarea, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4">
                    <button type="submit" class="btn btn-danger form-control">Eliminar</button>
                </div>
            </div>
        </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}